section.banner { 
    height: 600px;   
    background: url('../img/banner_bg.jpg') center center / cover;

    .banner-content {
        width: 50%;
        height: 100%;
        overflow: hidden;
    
        .main-heading {margin-bottom: 83px;}

        h1 {
            margin: 116px 0 43px 0;
            font-family: $fregat-bold;
            color: $primary-color;
            font-size: 28px;
            text-transform: uppercase;    
        }

        p {
            font-family: 'PT Sans', sans-serif;
            color:  #4e4e4e;
            font-size: 19px;
            font-weight: 400;
            margin-bottom: 40px;
            line-height: 26.5px;  
        }

     
    }    
}