/* ----------------
BASE
------------------*/ 
*::before,
*::after,
* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1169px;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

section h2 {
    font-family: $fregat-bold;
    font-size: 32px;
    text-transform: uppercase;
    color: $primary-color;
}